body {
    text-align: center;
    background-image: url('../img/unsplash-canvas.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
    color: rgb(52, 49, 44)
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 3px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 55px;
}

td {
    width: 55px;
    opacity: 70%; /* opacity dropped down to imitate painting on canvas */
}

input[type=number] {
    width: 6em;
}

.gridName {
    font-size: 40px;
    text-decoration: dotted underline;
    margin: 0.9em;
}

.submit {
    background-color: rgba(67, 201, 238, 0.8);
    border-radius: 10%;
    border: none;
    padding: 4px 11px;
}

#reset {
    background-color: rgba(246, 23, 23, 0.8);
    border-radius: 10%;
    border: none;
    padding: 4px 11px;
}